/* h1{
    color: red;
}

input:focus{
    background-color: royalblue;
} */
/* 
.box1 {
  background-color: royalblue;
  width:75%;
  height: 100%;

} */
/* html {
  background-color: red;
} */
/* body { */
/* background-color: black; */
/* height: 500px; */
/* } */

/* .box1 { */
/* width: 700px; */
/* background-color: royalblue; */
/* height: 80px; */
/* max-width: 500px; */
/* min-width: 300px ; */
/* min-height:500px; */
/* max-height: 400px;
  min-height: 100vh;
} */

/* .box2 {
  background-color: red;
  max-width: 500px;
  height: 80px;
} */

/* .box1{ */
/* background-color: royalblue; */
/* width: 400px; */
/* overflow: visible; */
/* /* overflow-y: scroll; */
/* } */
/* .box1 p{ */
/* background-color: red; */
/* width: 500px; */
/* //height: 150px; */
/* } */

/* .box1,
.box2 {
  width: 250px;
  height: 200px;
} */
/* .box1{
    background-color: royalblue;
    margin-bottom: 10px; */
/* padding-left:50px ; */
/* margin-top: 50px; */
/* margin-bottom: 80px;

} */
/* .box2{
    margin-top: 10px;
    margin-left: 50px;
    background-color: red;
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding-left: 20px ;
    padding-right: 20px;
} */

/* .parent {
  background-color: black;
  width: 350px;
  height: 500px;
} */

/* div > p {
  width: 50%;
  background-color: aqua;
  margin-left: 50px;
  padding-left: 50px;
} */

/* .box1 { */
/* background-color: red; */
/* margin:top right bottom left  ; */
/* margin: 50px 50px 50px 60px; */
/* margin: top to bottom  left to right; */
/* margin: 80px; */
/*  */
/* } */
/* .box2 {
  background-color: blue;
} */

/* .box1 {
  width: 250px; */

/* border-width: 5px;
  border-style: dotted;
  border-color: black;
   */
/* border: 5px dashed purple;
  padding: 5px 10px 5px 8px;
  
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  /* border: 1px solid red; */
  background-color: royalblue;
  /* width: 40%; */
  /* margin-left: auto;
  margin-right: auto; */
  /* margin: 0 auto; */
  display: inline-block;
  visibility: hidden;
  /* display: none; */
}

.box2 {
  background-color: red;
  /* width: 40%; */
  display: inline-block;
  box-shadow: 5px 0px 20px blue;
  margin: 20px 0;
  border-radius: 8px 5px 5px 5px;
}
img {
  border-radius: 50%;
  transition: all 0.6s ease;
}

img:hover {
  border-radius: 0;
}
/* span {
  background-color: red;
  display: block;
margin: 10px 0;
} */

span {
  background-color: red;
  /* display: inline-block; */
  margin: 10px 0;
  /* display: none; */
}
